.vote {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.vote h2 {
    background-color: rgb(138, 218, 19);
    color: rgb(151, 5, 151);
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
}